body {
    color: black;
}

div.card-shadow {
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  -5px 5px 10px #d9d9d9, 
                 5px -5px 10px #ffffff;
}

.table-border-left {
    border-left: 1px solid#a06cef9c;
    border-right: 1px solid#a06cef9c;
    background-color: #f3f3f3;
}